@inherits EditProjectPmViewe

<EditForm Model="@ProjectViewModel" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <MudDialog Style="width: 30%;">
        <DialogContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6">
                    Project
                </MudText>
                <div class="d-flex" style="justify-content: flex-end">
                    <MudButton Variant="Variant.Outlined" style="margin-bottom:14px;margin-left: 10px;" type="submit" ButtonType="ButtonType.Submit">Save</MudButton>
                    <MudButton Variant="Variant.Outlined" style="margin-bottom:14px;margin-left: 10px;" @onclick="Cancel">x</MudButton>
                </div>
            </div>
            <p>
                Name<br>
                <input style="margin-bottom:4px; border-width:1px" type="text" class="form-control" @bind-value="@ProjectViewModel.Title" @bind-value:event="oninput" />
                <ValidationMessage For="@(()=>ProjectViewModel.Title)" />
            </p>
          
        </DialogContent>
    </MudDialog>
</EditForm>
