@inherits DeleteModalView

<MudDialog Style="width: 25%;">
    <DialogContent>
        <div class="d-flex justify-content-between">
            <MudText Typo="Typo.h6">
                Are you sure want to delete?
            </MudText>
            <div class="d-flex" style="justify-content: flex-end">
                <MudButton Variant="Variant.Outlined" style="margin-bottom:14px;margin-left: 10px;" @onclick="Delete">Yes</MudButton>
                <MudButton Variant="Variant.Outlined" style="margin-bottom:14px;margin-left: 10px;" @onclick="Cancel">No</MudButton>
            </div>
        </div>
    </DialogContent>
</MudDialog>




